<div class="row">
      <div class="col-lg-3">
<div class="rsidebar span_1_of_left">
        <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
						 <div class="tab1">
							 <ul class="place">								
								 <li class="sort">Fashion</li>
								 <li class="by"><img src="images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
                <div class="single-bottom">						
									<a href="#"><p>All</p></a>
						     </div>
							 <div class="single-bottom">						
									<a href="#"><p>Dresses & Vests</p></a>
						     </div>
                 <div class="single-bottom">						
									<a href="#"><p>Jewellerys</p></a>
						     </div>
					      </div>						  
					 </div> 
				 </section>
</div>
  </div>
      </div>
<div class="col-lg-9">
  <app-product-list></app-product-list>
</div>