<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Item</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th><button class="btn-primary" routerLink="/admin/addproduct" routerLinkActive="active" >Add Product</button></th>
    </tr>
  </thead>
  <tbody > 
     <tr *ngFor="let product of productss | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <td>{{product.id}}</td>
      <td><img src="{{product.image}}" height="100"></td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.amount}}</td>
      <td>
        <button class="btn btn-primary" routerLink="/admin/editproduct" routerLinkActive="active">Edit Product</button>
        <button class="btn btn-primary" (click)="removeItemDe(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="30" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>

