<form #addproduct="ngForm" *ngIf="product">
  <h1>Add Product</h1>
  <br>
  <br>
 
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name" class="form-control" required [(ngModel)]="product.name" #productName="ngModel">
    <div [hidden]="productName.valid || productName.pristine" class="alert alert-danger"> Name is required ( must not blank )</div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" name="price" min="1000" placeholder="price" class="form-control" required [(ngModel)]="product.price" #productPrice="ngModel">
    <div [hidden]="productPrice.valid || productPrice.pristine" class="alert alert-danger"> Price is required ( must not blank )</div>
  </div>
  <div class="form-group">
    <label for="price">Image</label>
    <input type="text" name="Image" placeholder="Image" class="form-control" required [(ngModel)]="product.image" #productImage="ngModel">
    <div [hidden]="productImage.valid || productImage.pristine" class="alert alert-danger"> image is required ( must not blank )</div>
  </div>
  <div class="form-group">
    <label for="price">Amount</label>
    <input type="number" min="1" name="Amount" placeholder="Amount" class="form-control" required [(ngModel)]="product.amount" #productAmount="ngModel">
    <div [hidden]="productAmount.valid || productAmount.pristine" class="alert alert-danger"> amount is required ( must not blank )</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!addproduct.form.valid" (click)="addProductJe()">Add product</button>
</form>