<div class="row">
    <!-- <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
    <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product> -->
    <div ngClass="col-lg-4 col-md-6 mb-4" *ngFor=" let product of products">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
            <a href="#">{{product.name}}</a>
            </h4>
            <h5>${{product.price}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <p class="card-text">{{product.status ? 'còn hàng':'hết hàng'}}</p>
        </div>
        <button class="btn btn-primary" (click)="ShowDetail(product)">Chi tiết</button>
        </div>
    </div>
  </div>
  <div> Tên : {{select.name}}<br>
        giá: {{select.price}}<br>
        mô tả : {{select.desc}}<br>
        trạng thái: {{select.status ? 'còn hàng':'hết hàng'}}
  </div>